[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "povmap"]
	path = povmap
	url = https://github.com/ssa-statistical-team-projects/povmap
